/.externalToolBuilders
/.settings
/.buildpath
/.project
/API.launch
/.jsdtscope
/com.piece_framework.makegood.core.prefs
/org.eclipse.php.core.prefs
/org.eclipse.wst.jsdt.ui.superType.name
/.jsdtscope
/com.piece_framework.makegood.core.prefs
/org.eclipse.php.core.prefs
/org.eclipse.wst.jsdt.ui.superType.name
